
.quality{
    background-color: black;
}


.count{
    background-image: url("asset/Group 39662@2x.png");
    padding: 100px;
    height: 600px;
    
    
}

.white{
    background-color: white;
    
}



.plane{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 60%;
    height: 100%;
    background: url(asset/Group\ 39587.png);
    background-repeat: no-repeat;
}
.clouds{
    position: absolute;
    top: 9%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(asset/cloud.png);
    animation: animate 5s linear infinite;
    
    
}
@keyframes animate
{
    0%
    {
        background-position: 0px;
    }
   100%
    {
        background-position: -5440px;
    }
}


.center img{
    align-items: center !important;
}






.image{
    width: 321px;
    height: 500px;

}

.image-container {
    position: relative;
    width: 321px;
    height: 500px;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color:white;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}











form{
    border: 1px solid gray;
    padding: 20px;
    margin: auto;
    height: 540px;
    
}

form input{
    display: block;
    width: 350px;
    margin: auto;
    padding: 2px;
    
}

form textarea{
    display: block;
    width: 350px;
    margin: auto;
    padding: 3px;
}

form button{
position: relative;
left: 34%;

  
}

.foot{
    background-color: black;
}

hr{
    background-color: white;
}

/* .plat{
    background-image: url("asset/Rectangle\ 25775.png");
} */


.nav-link{
    
    color: black !important;
}

.map{
    width: 100%;
}

.map-wrapper{
    max-width: 1100px;
    border: 2px solid black;
}








.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-image: url(Rectangle\ 25775.png);
    
    max-width: 390px;
  }
  
  .flex-container .cell {
    
    width: 130px;
    margin: 0px;
   
    line-height: 90px;
    font-size: 20px;
    color: white;
  }

.flex-container .cell:hover{
    
    background-image: url(d.jpg);
  
}


 